.body{
  margin: 0px;
  padding: 0px;
}

.body-content{
  display: flex;
  /*background-color: rgb(157, 195, 163);*/
  flex-direction: column;
}

.navigation {
  margin-top: 5px;
  margin-right: 4px;
  gap: 1.75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgb(157, 195, 163);
}

#Homepage {
  background-color: rgb(63, 169, 160);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border-style: none;
  margin: 10px 10px;
  border: 2px solid rgb(63, 169, 160)
}

#Homepage:hover{
  background-color: rgb(24, 119, 149);
  color: white;
  border: 2px solid rgb(63, 169, 160);
}

#Data {
  background-color: rgb(63, 169, 160);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border-style: none;
  margin: 10px 10px;
  border: 2px solid rgb(63, 169, 160)
}

#Data:hover{
  background-color: rgb(24, 119, 149);
  color: white;
  border: 2px solid rgb(63, 169, 160);
}

#Forum {
  background-color: rgb(63, 169, 160);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border-style: none;
  margin: 10px 10px;
  border: 2px solid rgb(63, 169, 160)
}

#Forum:hover{
  background-color: rgb(24, 119, 149);
  color: white;
  border: 2px solid rgb(63, 169, 160);
}

#Help{
  background-color: rgb(63, 169, 160);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border-style: none;
  margin: 10px 10px;
  border: 2px solid rgb(63, 169, 160)
}

#Help:hover{
  background-color: rgb(24, 119, 149);
  color: black;
  border: 2px solid rgb(63, 169, 160);
  color: white;
}
.imageandtitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(157, 195, 163);
}
#Image {
  /*display: flex;
  justify-content: flex-start;*/*/
  fliter: gray;
  filter: grayscale(100%);
}

.title {
  display: flex;
  font-family: 'Oswald', sans-serif;;
  /*justify-content: center;*/
  color: whitesmoke;
  font-size: 50px;
  padding: 80px;
  /*align-self: center;
  justify-self: center;*/
#  //letter-spacing: 3px;
}

#titleandsub{
  display: flex;
  flex-direction: column;
}
.paragraph{
  color: white;
  font-size: 20px;
  /*text-align: center;*/
}

.column {
  float: left;
  width: 33.33%
  padding = 10px;
  height: 200px;
  /*color: rgb(238,247,252);*/
}

.row::after{
  content: "";
  display: table;
  clear: both;
  /*background-color: rgb(238,247,252);*/
}

#abouit{
  color: rgb(24, 119, 149);
  background-color: rgb(238,247,252);
}

.Contact-info {
  background-color: rgb(24, 119, 149);
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#insta{
  filter: invert(1);
}

#gmail{
  filter: invert(1);
}

.Contact {
  background-color: rgb(24, 119, 149);
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding: 10px 20px;
  color: whitesmoke;
  /*display: flex;
  justify-content: flex;
  flex-direction: row;*/
}

/*comments in css are weird*/
/*looks really good*/